#timer-main {
  top: 50%;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  #timer-main {
    width: 100%;
  }
}
